:root {
    --primary-color: #151618;
    --secondary-color: #22282c;
    --dropdown-color: rgba(32, 51, 54, 0.7);
    --lighter-color: #424242;
    --border-color: #666;
    --text-color: #ffffff;
    --gray-text-color: #BBB;
    --self-color: #32574c;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: 500;
}

h2, h3, h4, p, button, label {
    color: var(--text-color);
}
img {
    user-select: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input:hover {
    outline: 2px solid var(--self-color);
}

#screen-blur-overlay {
    display:none;
    position: absolute;
    background: rgba(40,40,40, 0.7);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.chat-container {
    background-color: #101112;
    display: flex;
    height: 100vh;
}

/* SIDEBAR */


.chat-sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    width: 320px;
    background-color: var(--primary-color);
    color: #fff;
}

.user-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: var(--secondary-color);
    height: 40px;
}

.user-panel img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
}
.user-panel .username {
    padding-left: 5px;
    user-select: none;
}


.options-menu {
    max-height: auto;
    width: auto;
    display: none;
    z-index: 20;
    border:none;
    position: absolute;
    background-color: var(--dropdown-color);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.options-menu button:first-child {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.options-menu button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.options-menu button {
    text-align: left;
    background: none;
    display: block;
    border: none;
    width: 100%;
    color: var(--text-color);
    padding-left: 30px;
    padding-right: 70px;
    transition: all 0.2s;
    height: 40px;
    white-space: nowrap;
}

.options-menu button:hover {
    background-color: var(--primary-color);
}

.search-bar input {
    background-color: var(--secondary-color);
    width: 90%;
    padding: 5px 0 5px 10px;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    user-select: none;
}

.chat-list {
    overflow-y: auto;
}

.chat-list-item {
    display: flex;
    outline: inherit;
    text-align: left;
    padding: 0;
    background: none;
    color: var(--text-color);
    border: none;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.1s;
    user-select: none;
}

.chat-list-item:hover, .chat-list-item:focus {
    background-color: var(--lighter-color);
}

.chat-list-item .chat-image {
    flex: 1;
    width: 42px;
    height: 42px;
    padding-right: 10px;
}

.chat-list-item .chat-info {
    flex: 8;
    margin-right: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.chat-list-item .chat-info-timestamp {
    margin: -10px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.chat-info-preview {
    display: flex;
    justify-content: space-between;
}

.chat-last-message {
    margin-right: 5px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-unread-messages {
    color: var(--primary-color);
    background-color: #8fad5e;
    border-radius: 8px;
    width: 25px;
    height: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}


#sidebar-join-chat-button {
    width: 40px;
    height: 40px;
    align-self: center;
    color: var(--text-color);
    background-color: var(--self-color);
    border: none;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    font-weight: 500;
    transition: 0.35s all;
    z-index: 20;
}
#sidebar-join-chat-button:hover { 
    border-radius: 10px;
}





/* RIGHT SIDE */

.chat-content-container {
    flex: 1;
    padding: 0 0 0 0;
    background: none;
    display: flex;
    flex-direction: column;
}

.chat-content {
    flex: 1;
    padding: 0 0 0 0;
    background: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 40px;
    padding-left: 10px;
    background-color: var(--secondary-color);
    user-select: none;
}
.chat-header .chat-image {
    width: 38px;
    height: 38px;
    padding-right: 10px;
    user-select: none;
}

.chat-info {
    flex: 1;
    justify-content: flex-start;
}

.chat-info .chat-name-current {
    margin: 0;
    font-size: 20px;
}

.chat-settings button, #user-panel-options-menu-button {
    margin-left: auto;
    background: none;
    border:none;
    border-left: 2px solid var(--border-color);
    cursor: pointer;
    padding: 8px;
}

i {
    background: none;
    color: #FFFFFF;
    border: none;
}
.chat-messages {
    flex: 10;
    overflow-y: auto;
    word-break: break-word;
}

.chat-message-others {
    display: flex;
    color: var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
}
.chat-message-self {
    display: flex;
    color: var(--text-color);
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: 20px;
}
.chat-messages .chat-image {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.chat-message-bubble {
    display: flex;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    position: relative;
    max-width: 80%;
}
.message-data {
    display: flex;
    flex-direction: column;
}
.chat-message-others .chat-message-bubble {
    background: var(--secondary-color);
}

.chat-message-self .chat-message-bubble {
    background: var(--self-color);
}

.chat-message-bubble-username {
    font-weight: 700;
    padding-bottom: 5px;
}

.chat-message-text {
    align-items: end;
    margin-bottom: 10px;
}

.chat-message-timestamp {
    padding-left: 6px;
    margin: 0;
    font-weight: 300;
    word-break: normal;
    align-self: flex-end;
    margin-bottom: 5px;
    color: var(--gray-text-color);
}

.chat-input {
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: auto;
    background-color: var(--secondary-color);
    user-select: none;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    color: var(--text-color);
    margin-right: 10px;
    margin-left: 10px;
    border:none;
    background-color: var(--primary-color);
    border-radius: 10px;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--lighter-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}




/* Current chat settings */

.current-chat-settings-sidebar {
    flex: 1;
    padding: 0 0 0 0;
    background: none;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.current-chat-settings-sidebar .chat-header {
    justify-content: center;
}

.chat-settings-sidebar-title {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
}

.close-chat-settings-button {
    margin-left: auto;
    background: none;
    border:none;
    border-left: 2px solid var(--border-color);
    cursor: pointer;
    padding: 8px;
}

.close-chat-settings-button i {
    font-size: 20px;
}

.chat-settings-sidebar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-settings-name-current,
.chat-settings-description-title {
    text-align: center;
    margin-bottom: 5px;
}

.chat-settings-description {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100px;
    overflow-y: auto;
}

.edit-description-button {
    margin-left: auto;
    background: none;
    border:none;
    border-left: 2px solid var(--border-color);
    cursor: pointer;
    padding: 8px;
}

.chat-settings-image {
    align-self: center;
}

.chat-settings-members-container {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-grow: 1;
}

.chat-members-title {
    text-align: center;
}

.chat-settings-members-list {
    overflow-y: auto;
}

.chat-member {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0px 5px;
    height: 40px;
    justify-content: space-between;
}

.chat-member-username {
    margin-right: 10px;
}

.chat-member-adminrank {
    color: #909090;
    font-style: italic;
}

.promote-member-button {
    margin-left: auto;
    border-radius: 20px;
    height: 40px;
}

.promote-member-button i {
    font-size: 20px;
    color: rgb(26, 216, 121);
}

.kick-member-button {
    border-radius: 20px;
    justify-content: flex-end;
    height: 40px;
}
.kick-member-button i {
    font-size: 18px;
    color: #FF0000
}
.promote-member-button:hover, .kick-member-button:hover {
    transition: 0.2s all;
    background-color: var(--lighter-color);
}


/* POP UPS */

#popup-join-create-chat {
    position: absolute;
    width: 300px;
    height: 200px;
    background: var(--dropdown-color);
    border-radius: 20px;
    z-index: 20;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(5px);
    overflow: hidden;

    align-self: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.popup-join-create-top {
    display: flex;
    justify-content: center;
}

#close-join-create-chat {
    position: absolute;
    background: none;
    border: none;
    right: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#close-join-create-chat i {
    font-size: 15px;
}

#join-chat-tab-button, #create-chat-tab-button {
    background: var(--lighter-color);
    border: none;
    cursor: pointer;
    border-radius:5px;
    margin: 5px;
}

#join-chat-tab-button:hover, #create-chat-tab-button:hover {
    background: var(--self-color);
    border: none;
    cursor: pointer;
}


#popup-join-chat-tab, #popup-create-chat-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.chatid-input input {
    background-color: var(--lighter-color);
    padding: 5px 0 5px 10px;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    user-select: none;
}

#join-chat-button, #create-chat-button {
    position: absolute;
    bottom: 10px;
    background: var(--lighter-color);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

